body{
    background-color: cornflowerblue;
    background-image: url('../gambar/wall.jpeg');
    
}
p{
    text-align: justify;
    font-size: 20px;
    font-weight: 100;
    text-transform: capitalize;
    letter-spacing: 2px;
    background-color: plum;
}
fieldset, legend{
    border: cyan groove 5px;
}